body {
	background: url(../images/bg.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Black Han Sans', sans-serif;
}
h1 {
	color:yellow;
	font-size: 100px;
	font-weight: normal;
	font-family: Arial;
	margin-bottom: 0;
}
h2 {
	color: green;
	font-size: 18px;
	margin-top: 0;
}

.bio {
	color:white;
	font-size: 20px;
	font-family:Arial;


}

.me {
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: black;
	margin-top: 40px;
}

.about{
	width:500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}